<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success_Page</title>
</head>
<body>
    <h1><%=_status %></h1>
    <br>
    Stored content:<br>
    <h5><%=content %></h5>
    <br>

    <a href="http://localhost:3000/"><button type="button">Store more</button></a>

</body>
</html>